@{
    ViewBag.Title = "Import Student Activities";
}

<div class="fixed content" data-current-module="students">
    <header>
        <h1>@ViewBag.Title</h1>
    </header>
   
    <form action="" method="post" enctype="multipart/form-data">

        <label for="file1">Filename:</label>
        <input type="file" name="file" id="file" />

        <input type="submit" />
    </form>

</div>
